
	<div ng-controller="userWriteCtrl" class="form-group">
		<h2>사용자 등록</h2>
		<form name="form" novalidate="novalidate" ng-submit="submitForm(form)" method="post" >
		
			<table class="table table-bordered" id="userWriteInfo" ng-show="user.userId == null">
				<tr>
					<th>이름</th>
					<td><input type="text" ng-model="user.name" maxlength="10" required="required" title="name"/></td>
				</tr>
				<tr>
					<th>이메일</th>
					<td><input type="email" ng-model="user.email" maxlength="50" required="required" title="email"/></td>
				</tr>
				<tr>
					<th>성별</th>
					<td ng-init="user.gender == null ? user.gender = 'male' : ''">
						<select class="form-control"  ng-model="user.gender">
							<option value="male" >남자</option>
							<option value="female">여자</option>
						</select>
					</td>
				</tr>
			</table>
			
			<div class="row">
				<div class="text-left col-md-6">
					<button type="button" class="btn btn-default" ui-sref="state.go('userList')">목록</button>
				</div>
				<div class="text-right col-md-6">
					<button type="submit" class="btn btn-success">등록</button>
				</div>
			</div>
		</form>
	</div>
