<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" ></link>
    <link rel="stylesheet" href="/css/toaster.css"></link> 
	<title > 예제 파일 </title>
    <base href="/" />
</head>

<body ng-app="routerApp">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="main">회원 관리</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="userList">회원</a></li>

    </ul>
</nav>

	<div class="container">
	    <div ui-view="">

	    </div>
	</div>


    <div th:fragment="footer">
      &copy; 2015 Footer
    </div>
    
    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    <script src="./js/angular.bootstrap.ui.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="./js/config.js" type="text/javascript"></script>
    <script src="./js/service/vo.js" type="text/javascript"></script>    
    <script src="./js/router/ui-router.js" type="text/javascript"></script>
    <script src="./js/controller/userCtrl.js" type="text/javascript"></script>
    <script src="./js/filter/filter.js" type="text/javascript"></script>

</body>
</html>