	<table class="table table-bordered">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>성별</th>
			<th>이메일</th>
			<th>회사</th>
			<th>잔고</th>
		</tr>

		<tr ng-if='data.content.length > 0' ng-repeat='d in data.content | offset: offset | limitTo : searchFnc.pagingInfo.pagePerCnt'>
			<td>{{d._id}}</td> 
			<td>{{d.name}}</td>
			<td>{{d.gender}}</td>
			<td>{{d.company}}</td>
			<td>{{d.email}}</td>
			<td>{{d.phone}}</td>
			<td>{{d.balance}}</td>
		</tr>
		
		<tr ng-if='data.content.length == 0'>
			<td colspan="8">
				<p class="text-center">등록된 데이터가 없습니다.</p>
			</td>
		</tr>
	</table>

	<div class="text-center">
		<uib-pagination total-items="totalCnt"
			ng-change="searchFnc.pageChanged()"
			ng-model="currentPage" 
			max-size="pagePerCnt" class="pagination-sm" 
			boundary-links="true" 
			rotate="false" 
			num-pages="numPages">
	  	</uib-pagination>	
	</div>